/* styles */
html, body
{
    background: #f0f0f0;
    height: 100%;
}
.top-menu
{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background: rgb(217, 217, 217);
   z-index: 100;
}

#login_button {
	margin: 10px 0px;
}

.ink-grid.content {
   margin-top: 49px;
   margin-bottom: 10px;
}
.card-container {
   background-color: white;
   margin: 8px 0px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   padding: 5px 5px;
}

.card-container img+div {
	margin-top: 0;
}

.photo-container {
	border-bottom: 4px solid rgba(15, 117, 218, 0.74902);
}

.photo-social-container {
   white-space: nowrap;
   position: relative;
   top: -25px;
   right: 5px;
}

.photo-social-container i {
   color: rgba(15, 117, 218, 0.75);
   padding-left: 8px;
}

.photo-social-container span.ink-badge {
   background-color: rgba(220, 220, 220, 0.65);
}

.from-name {
	white-space: nowrap;
	float: right;
	clear: right;
	padding-top: 5px;
    padding-right: 5px;
}

.from-time {
   float: right;
   clear: right;
   padding-right: 5px;
}

.user-header-container {
	margin-bottom: 5px;
}

.column-group .location-container > div {
	margin-top: -16px;
}

.column-group .location-container > div:nth-child(odd) {
	border-right: 2px solid rgba(15, 117, 218, 0.74902);
}

.column-group .location-container > div:nth-child(even) {
	border-left: 2px solid rgba(15, 117, 218, 0.74902);
}