<div class="column-group location-container">
	<div class="small-50">
		<img src="https://maps.googleapis.com/maps/api/staticmap?center={{place.location.city}},{{place.location.country}}&markers=color:blue%7C{{place.location.city}},{{place.location.country}}&zoom=14&size=179x120&sensor=false" />
	</div>
	<div class="small-50">
		<img src="https://maps.googleapis.com/maps/api/staticmap?center={{place.location.latitude}},{{place.location.longitude}}&markers=color:blue%7C{{place.location.latitude}},{{place.location.longitude}}&zoom=16&size=179x120&sensor=false" />	
	</div>
</div>